
:root {
    --primarycolor: #0a76d8;
    --primarycolorhover: #006dd3;
    --btnice: #d8ebfa;
    --btnnicetext: #1b62b3;
    --color-primary: rgba(8, 80, 120, 1);
    --color-link: rgb(0, 121, 142);
    --color-link-hover: rgb(0, 148, 176);
    --background-light: #f6f8fa;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    border-spacing: 0;
    font-family: "Inter", sans-serif;
    /*background: linear-gradient(90deg, rgba(8,80,120,1) 0%, rgba(133,216,206,1) 100%)*/
}

*,
::after,
::before {
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color: var(--color-link) !important;
}

a:hover{
    color: var(--color-link-hover) !important;
}

.primary-color{
    color: var(--color-primary) !important;
}

.font-weight-bold{
    font-weight: bold !important;
}