@import url("font-inter.css");
:root {
    --primarycolor: #0a76d8;
    --primarycolorhover: #006dd3;
    --btnice: #d8ebfa;
    --btnnicetext: #1b62b3;
    --color-link: #ffffff
}

body {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(90deg, rgba(8,80,120,1) 0%, rgba(133,216,206,1) 100%)
}

*,
::after,
::before {
    box-sizing: border-box;
}
