
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    height: 100vh;
    background-color: #0277bd;
    padding-top: 20px;
    width: 250px;
    position: fixed;
}

.sidebar a {
    font-size: 1.1rem;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #01579b;
    text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    background-color: #e1f5fe;
}

#logo{
    max-height: 10vh;
    width: 100%;
    display: block;
    margin: auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    margin-bottom: 20px;
}