#header{
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s;
    background: transparent;
    padding: 0 !important;
}

#header.sticky {
    background-color: white !important;
}

#header .nav-item .nav-link{
    color: white !important;
}

#header .nav-item.active{
    border-bottom: 3px solid white !important;
}

#header.sticky .nav-item .nav-link{
    color: var(--color-primary) !important;
}

#header.sticky .nav-item.active{
    border-bottom: 3px solid var(--color-primary) !important;
}

#header .logo{
    width: 140px;
}

#header .nav-item{
    margin-right: 0.5rem !important;
}


#header .nav-item .nav-link.active{
    font-weight: bold !important;
}


#carousel_home_banner{
    height: 100vh;
    overflow: hidden;
}

#carousel_home_banner img{
    filter: brightness(80%);
}


#carousel_home_banner .carousel-caption{
    right: 15% !important;
    bottom: 40% !important;
    transform: translate(0%, -25%) !important;
}

#carousel_home_banner .carousel-caption h1{
    font-size: 56px !important;
    font-weight: bold !important;
}
#carousel_home_banner .carousel-caption p{
    font-size: 24px !important;
}

.card .card-tour-img{
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card .card-tour-img img{
    transition: all 0.5s;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.card .duration{
    font-size: 13px;
    color: gray;
}

.card.tour .card-title{
    margin-bottom: 0 !important;
}

.card.tour .price{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    padding: 6px 8px 4px 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 2px -1px rgba(16, 24, 40, .05);
    width: max-content !important;
    font-size: 14px !important;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-weight: bold;
    align-items: center;
}

.card:hover .card-tour-img img{
    transform: scale(1, 1);
    -webkit-transform: scale(1.1);
}

.filter-tours{
    border-radius: 20px;
    padding: 1.5rem !important;
    background: var(--background-light);
}

.filter-tours label{
    font-weight: bold !important;
    color: var(--color-primary) !important;
    margin: .4rem 0;
}

.footer .text-white{
    line-height: 1.8rem !important;
}

#help-form{
    color: #b9f9ff;
    background: rgba(50, 85, 98, 0.5);
    padding: 2rem;
    border-radius: 30px;
}

#help-form .form-group{
    margin-bottom: 10px !important;
}

#help-form .form-group label{
    font-weight: bold !important;
    margin-bottom: 10px !important;
}

#help-form .form-group input{
    background: rgba(76, 76, 76, 0.1) !important;
    color: white;
}

#help-form .form-group input::placeholder{
    color: white;
}
