#user-information{
    background: white;
    border-radius: 30px;
    padding: 1rem;
}
#user-information .avatar{
    width: 100px !important;
    height: 100px;
    border-radius: 100%;
}

#user-information .nav-link{
    border-radius: 30px !important;
    color: var(--color-primary) !important;
}

#user-information .nav-link.active{
    background: var(--color-primary) !important;
    color: white !important;
}
